html {
  scroll-behavior: smooth;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #F0A04B;
  color: #183A1D;
}

/* Banner */
.jumbotron {
  background-color: #FEFBE9;
  color: #183A1D;
  padding: 100px 25px;
}

/* Featured Products */
.thumbnail {
  height: 400px;
}

.caption {
  height: 120px;
}

.btn-primary {
  background-color: #F0A04B;
  border-color: #183A1D;
  transition: 0.5s;
}

.btn-primary:hover {
  background-color: #F0A04B;
  border: none;
  box-shadow: 0px 0px 5px 0.5px #183A1D;
}

.thumbnail img{
  margin-top: 20px;
  height: 20rem;
}

.thumbnail{
  margin-top: 20px;
  transition: 0.5s;
}

.thumbnail:hover{
  box-shadow: 0px 0px 5px 0.5px #183A1D;
  border: none;
}

h2{
  text-align: center;
  margin-bottom: 10px;
}

.header {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.2s ease-out;
}

.headerVisible {
  opacity: 1;
  transform: translateY(0);
}

/* Footer */
.footer {
  background-color: #E1EEDD;
  border-top: 1px solid #e7e7e7;
  padding: 25px;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .jumbotron {
    padding: 50px 15px;
  }
  
  .thumbnail {
    height: auto;
  }
  
  .caption {
    height: auto;
  }
}
